*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
/*this can keep position fixed and use filters*/
.bg {
    z-index: -222;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .bg:after {
    content: ' ';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/4099237/pexels-photo-4099237.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    filter: blur(5px) grayscale(0.6);
    animation: zoomInOut 20s infinite ease-in-out alternate;
  }
/*this can keep position fixed and use filters*/
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s;
}
.main-content img{
    width: 220px;
  }
.name{
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: clamp(60px, 1.2vw, 2.5vw);
    margin-top: 25px;
    margin-bottom: 25px;
    animation: left-appear 0.5s ease normal backwards;
}
#bgcolor{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(168, 122, 122, 0.637);
    z-index: -2;
}
#bg img {
    filter: grayscale(1);
    opacity: 0.2;
}
#content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@keyframes left-appear{
    0.0%{
        transform: translate(-200px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0px);
        opacity: 1;
    }
}
@keyframes zoomInOut{
    0.0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
